htlm {
   line-height: 1.2em;
   font-family: tahoma;
   font-size: 15px;
}



label {
  display: block;
  background-color: #66ccff;
  text-align: center;
}

@media screen and (min-width: 480px) {
  label {
    display: inline-block;
    color: white;
    background-color: red;
    margin-right: 5px;
    font-size: 1.3em;
  }
  
  div {
    display: inline;
    
  }
}